.categoryView {
    margin: 48px 0 0 0;
}

.title {
    margin: 0 10.41% 0 10.41%;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}