.productView {
    display: flex;
    padding: 65px;
    box-sizing: border-box;
}

.productInfo {
    display: flex;
}

.imagesContainer {
    display: flex;
    justify-content: flex-end;
    min-height: 300px;
    width: 50%;
    border-right: 2px dashed #dbdbdb;
    padding: 0 65px 0 0;
}

.toggleImages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 32px 0 0;
}

.toggleImage {
    width: 102px;
    height: 102px;
    object-fit: contain;

    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &:not(:first-child) {
        margin: 16px 0 0 0;
    }
}

.imageContainer {
    width: 494px;
    height: 576px;

    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    padding: 40px;
    box-sizing: border-box;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.productInfoContainer {
    min-height: 300px;
    width: 50%;
    padding: 0 0 0 65px;
}

.title {
    margin: 0;
    font-weight: 300;
    font-size: 23px;
    line-height: 31px;
}

.price {
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;

    color: #1BC52D;
}

.buyContainer {
    display: flex;
    margin: 28px 0 0 0;
}

.buyTextButton {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    min-width: 180px;
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;

    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;

    color: #FFFFFF;
    background: #1D4354;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &:active {
        opacity: .9;
    }
}


.butTextButtonDisabled {
    opacity: .7;
    cursor: auto;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .7;
    }
}

.buyIconButton {
    margin: 0 0 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(27, 197, 45, 1);
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1.1);
    }
}

.deleteIconButton {
    margin: 0 0 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(213, 23, 23);
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1.1);
    }
}

.descriptionContainer {
    margin: 40px 0 0 0;
}

.descriptionTitle {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.descriptionText {
    margin: 12px 0 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
}


@media screen and (max-width: 1200px) {
    .productView {
        display: flex;
        padding: 64px 5%;
    }

    .productInfo {
        flex-direction: column;
        justify-content: center;
    }

    .imagesContainer {
        width: 100%;
        border: none;
        justify-content: center;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .productInfoContainer {
        margin-top: 32px;
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
    .imagesContainer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .toggleImages {
        margin: 32px 0 0 0;
        flex-direction: row;
    }

    .toggleImage {
        width: 64px;
        height: 64px;

        &:not(:first-child) {
            margin: 0 0 0 16px;
        }
    }
    .imageContainer {
        height: auto;
        width: 100%;
    }
}