.shoppingCartView {
    margin: 48px 10.41% 0 10.41%;
    display: flex;
    flex-direction: column;
}

.title {
    flex: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
}

.orderInfo {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;

    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;

    color: #FFFFFF;
    background: #1D4354;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
}

.orderPrice {
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
}

.orderProcessedText {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

}

.defaultTextContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultTextContainer {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

@media screen and (max-width: 768px) {
    .orderInfo {
        flex-direction: column-reverse;
        align-items: center;
    }

    .order {
        max-width: 200px;
    }
}