.categories {
  margin: 48px 0 0 0;
}

.title {
  margin: 0 0 0 10.41%;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  padding: 0 10.41% 0 10.41%;
  height: 320px;
  margin: 48px 0 0 -28px;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: white;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: white;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
  }
}


.categoryCard {
  margin: 28px 0 0 28px;

}