.categoryCard {
    display: flex;
    align-items: center;
    width: 310px;
    height: 96px;

    padding: 20px;
    box-sizing: border-box;

    background: #ffffff;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    cursor: pointer;

    &:active {
        border: 3px solid #1bc52d;
    }
}

.image {
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.title {
    margin: 0 0 0 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}