@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(213, 23, 23, .4);
    box-shadow: 0 0 0 0 rgba(213, 23, 23, .4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(213, 23, 23, 0);
    box-shadow: 0 0 0 10px rgba(213, 23, 23, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(213, 23, 23, 0);
    box-shadow: 0 0 0 0 rgba(213, 23, 23, 0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 0 10.41%;
  box-sizing: border-box;
}

.logo {
  height: 64px;
}

.right {
  display: flex;
  align-items: center;
}

.shoppingCartContainer {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
}

.productsCount {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(213, 23, 23, 1);
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;

  position: absolute;
  top: 0;
  right: 0;

  transform: translate(50%, -50%);

  font-size: 10px;
  line-height: 10px;
  color: white;

  animation: pulse 2s infinite;
}

@media screen and (max-width: 1200px) {
  .products {
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 32px;
  }
}