.errorBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.errorText {
    color: red;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}