.productCard {
    display: flex;
    width: 420px;
    height: 242px;

    padding: 20px;
    box-sizing: border-box;

    background: #ffffff;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    cursor: pointer;

    &.productCardActive {
        &:active {
            border: none;
        }
    }

    &:active {
        border: 3px solid #1bc52d;
    }
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed #dbdbdb;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    height: 100%;
    min-width: 160px;
    max-width: 160px;
}

.image {
    height: 180px;
    width: 120px;
    object-fit: contain;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.title {
    margin: 0;
    text-align: left;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
}

.anotherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 40px;
    padding: 0 16px;
    box-sizing: border-box;

    background: #f6f6f6;
    border-radius: 7px;

    font-size: 14px;
    line-height: 14px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(27, 197, 45, 1);
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1.1);
    }
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgb(213, 23, 23);
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    .productCard {
        width: 280px;
        height: 140px;
        padding: 16px;
    }

    .imageContainer {
        padding: 0 16px 0 0;
        min-width: 80px;
        max-width: 80px;
    }

    .image {
        height: 60px;
        width: 60px;
    }

    .infoContainer {
        padding: 0 0 0 16px;
    }

    .title {
        font-size: 12px;
        line-height: 12px;
    }

    .anotherInfo {
        align-items: center;
    }

    .price {

        font-size: 10px;
        line-height: 10px;
    }

}