.products {
    margin: 48px 10.41% 0 10.41%;

}

.title {
    margin: 0%;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
}

.productsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 0 0 40px;
    margin: 0 0 0 -5.21%;
}

.productsCard {
    margin: 72px 0 0 5.21%;
}

@media screen and (max-width: 1200px) {
    .products {
        margin: 48px 5% 0 5%;
    }
}

@media screen and (max-width: 768px) {
    .products {
        margin: 48px 5% 0 5%;
    }

    .productsContainer {
        padding: 40px 0 0 0;
        margin: 0 0 0 -20px;
    }

    .productsCard {
        margin: 24px 0 0 20px;
    }
}